header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+7905678888")
                    i.fa.fa-mobile(aria-hidden="true")
                    span.contact__text 6337 3128
    .header__bottom
    